.navbar {
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #000000;
	.container {
		&-navbar {
			margin: auto;
			padding-block: 24px;
			position: relative;
			.nav {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&-btn-responsive {
					width: 310px;
					display: inline-flex;
					align-items: center;
					gap: 8px;
					border: transparent;
					background-color: transparent;
					font-family: $font-body;
					color: $white;
					font-size: 18px;
					text-transform: uppercase;
					text-decoration: underline;
					@include respondsive(md) {
						font-size: 16px;
					}
					.ic-menu {
						display: block;
						background-image: url("../../../assets/image/menu-white.svg");
						background-repeat: no-repeat;
						background-size: 24px 24px;
						width: 24px;
						height: 24px;
						border: transparent;
						background-color: transparent;
						transition: all 100ms ease;
					}
					@include respondsive(xl) {
						width: 210px;
						font-size: 16px;
					}
					@include respondsive(md) {
						width: unset;
					}
				}
				&-logo {
					font-family: $font-body;
					font-weight: 500;
					> span {
						font-weight: 300;
						color: $light-gray;
					}
					@include respondsive(xl) {
						font-size: 24px;
					}
					@include respondsive(md) {
						font-size: 1.5em;
					}
					@include respondsive(md) {
						font-size: 1.2em;
					}
				}
				&-menu {
					&-office {
						display: flex;
						align-items: center;
						gap: 8px;
						@include respondsive(md) {
							opacity: 0;
						}
						.ic-global {
							max-width: 24px;
						}
						> a {
							font-family: $font-body;
							font-size: 18px;
							font-weight: 400;
							color: $light-gray;
							@include respondsive(xl) {
								font-size: 16px;
							}
						}
					}
					@include respondsive(md) {
						position: absolute;
						position: absolute;
						top: 100%;
						left: 50%;
						transform: translate(-50%, 0);
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 0 auto;
						background-color: $black;
						text-align: center;
						transition: all 500ms ease;
						height: 0;
						overflow: hidden;
						&.active {
							height: 100vh !important;
							.nav-menu-office {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

@include respondsive(md) {
	.cross {
		background-image: url("../../../assets/image/cross-white.svg") !important;
		background-repeat: no-repeat;
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
	}
}
