$primary: #ffb800;
$secondary: #2639e2;

$white: #ffffff;
$black: #000000;
$purple: #df50f6;
$dark-gray: #8D8D8D;
$gray: #DADADA;
$light-gray: #C4C4C4;

// $subText: #94a0c0;

.text-primary {
    color: $primary;
}
