// @font-face {
//     font-family: 'icomoon';
//     src:  url('../assets/icomoon.eot?5vv5sz');
//     src:  url('assets/icomoon.eot?5vv5sz#iefix') format('embedded-opentype'),
//       url('../assets/icomoon.ttf?5vv5sz') format('truetype'),
//       url('../assets/icomoon.woff?5vv5sz') format('woff'),
//       url('../utilities/assets/icomoon.svg?5vv5sz#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
//   }

@font-face {
    font-family: "ThunderMed";
    src: url("/assets/fonts/Thunder-MediumLC.woff") format("woff"),
        url("/assets/fonts/Thunder-MediumLC.woff2") format("woff2"),
        url("/assets/fonts/Thunder-MediumLC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Italian Plate No1 Expanded";
    src: url("/assets/fonts/GraphikLCG-Light.eot");
    src: local("Graphik LCG Light"), local("GraphikLCG-Light"),
        url("/assets/fonts/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Light.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Light.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Italian Plate No1 Expanded";
    src: url("/assets/fonts/GraphikLCG-Regular.eot");
    src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
        url("/assets/fonts/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Regular.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Regular.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Italian Plate No1 Expanded";
    src: url("/assets/fonts/GraphikLCG-Medium.eot");
    src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"),
        url("/assets/fonts/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/GraphikLCG-Medium.woff2") format("woff2"),
        url("/assets/fonts/GraphikLCG-Medium.woff") format("woff"),
        url("/assets/fonts/GraphikLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

// Font Family

// $fontFamilyInter: "Inter", sans-serif;
// $fontFamilyGilroy: "Gilroy", sans-serif;
$fontFamilies: (
    font-sans:
        'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
    font-serif: 'ui-serif, Georgia, Cambria, "Times New Roman", Times, serif',
    font-mono: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace',
    font-inter: '"Inter", sans-serif',
    font-gilroy: '"Gilroy", sans-serif',
) !default;

$font-display: "ThunderMed";
$font-body: "Italian Plate No1 Expanded";

// Font Size
$base: 16px;
$lh-heading: 110%;
$lh-desc: 150%;
$h1: 8em; // 131px
$h2: 6em; // 96px
$h3: 4.5em; // 72px
$h4: 2em; // 32px
$h5: 1.25em; // 20px
$p: 1em; // 16px
$p-md: 1.25em; // 20px

// Heading
h1 {
    font-family: $font-display;
    font-size: $h1;
    font-weight: 500;
    line-height: $lh-heading;
}
h2 {
    font-family: $font-display;
    font-size: $h2;
    font-weight: 500;
    line-height: $lh-heading;
}
h3 {
    font-family: $font-display;
    font-size: $h3;
    font-weight: 500;
    line-height: $lh-heading;
}
h4 {
    font-family: $font-display;
    font-size: $h4;
    font-weight: 500;
    line-height: $lh-heading;
}
h5 {
    font-family: $font-display;
    font-size: $h5;
    font-weight: 500;
    line-height: $lh-heading;
}

p {
    font-family: $font-body;
    font-size: $p-md;
    line-height: $lh-desc;
    font-weight: 400;

    @include respondsive(md) {
        font-size: 1.125em;
    }
}

// Description
.desc {
    font-family: $font-body;
    font-size: $p;
    font-weight: 400;
    line-height: 150%;
}

// Title
.title-small {
    color: #ffffff;
}

body {
    font-family: $font-body;
    font-size: $base;
    color: #ffffff;
    background-color: #000000;
}
