// loop grid
$grid-columns: 12;

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: calc(($i / $grid-columns) * 100%);
	}
}
// example to html
// .grid-6 for 50%
// .grid-12 for 100%
[class^="grid-"] {
	@include respondsive(md) {
		width: 100%;
	}
}

.bg-dark {
	background-color: #000000;
}
.bg-dark-light {
	background-color: #19242c;
}

// layout for display
section {
	width: 100%;
	// display: flex;
	// justify-content: center;
	margin: auto;
	overflow: hidden;
}
.container {
	max-width: 1440px;
	width: 100%;
	padding: 0 32px;
	display: flex;
	flex-direction: row;
	margin: auto;
	&-fluid {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding-left: calc((100% - 1440px) / 2);
		@include respondsive(xl) {
			padding-left: calc((100% - 1024px) / 2);
		}
		@include respondsive(md) {
			padding-left: unset;
		}
	}
	@include respondsive(md) {
		padding: 0 20px;
		flex-direction: column;
	}
}
